<!doctype html>
<title>My Daily Journal</title>

<main class="cards">
  <article class="card">
    <img src="../assets/images/mahim-diwali.jpg" alt="Sample photo">
    <div class="text">
      <h3>Let me say what I did today</h3>
      <p>A place to write down what I did today in school</p>
      <button>Here's why</button>
    </div>
  </article>
  <article class="card">
    <img src="../assets/images/innovate.jpg" alt="Sample photo">
    <div class="text">
      <h3>Capture learning</h3>
      <p>I would like to learn something simple. Can I?</p>
      <button>Here's how</button>
    </div>
  </article>
  <article class="card">
    <img src="../assets/images/best-moment.jpg" alt="Sample photo">
    <div class="text">
      <h3>My Clicks</h3>
      <p>I can use mobile to make some clicks. Want to see some?</p>
      <button>Read more</button>
    </div>
  </article>
  <article class="card">
    <img src="../assets/images/mahim-diwali.jpg" alt="Sample photo">
    <div class="text">
      <h3>Best moment of day</h3>
      <p>I had a great moment today and I want to tell you here.</p>
      <button>Just do it...</button>
    </div>
  </article>
  <article class="card">
    <img src="../assets/images/innovate.jpg" alt="Sample photo">
    <div class="text">
      <h3>Want to hear a joke</h3>
      <p>I am learning some jokes and here is one.</p>
      <button>Here's why</button>
    </div>
  </article>
  <article class="card">
    <img src="../assets/images/best-moment.jpg" alt="Sample photo">
    <div class="text">
      <h3>Innovate</h3>
      <p>I may have an innovative idea and I can share it here.</p>
      <button>Read here</button>
    </div>
  </article>
</main>